

*.class
console.properties
\.classpath
\.settings/*
\config/*
settings/*
Data Files/*
debug.log
Libs/*
Reports/*
Scripts/*
!Scripts/_Samples
!Scripts/Login
Profiles/*
bin/*
!Profiles/default.glbl

Test Suites/*

Test Cases/*
!Test Cases/_Samples
!Test Cases/Login.tc

Object Repository/*
!Object Repository/Dialog
!Object Repository/EntityPage
!Object Repository/Reference
!Object Repository/LoginPage
!Object Repository/EasyReproAccount

